.app-logo {
  font-family: 'NotoSansJP';

// LoginTopのstyle
  .login-logo {
    max-width: 3rem;
  }
  .login-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;

    .login-sub-title {
      font-size: 2rem;
      font-weight: 300;
      margin-left: 8px;
    }
  }

// MainHeaderのstyle
  .header-logo {
    max-width: 2rem;
  }
  .header-title {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;

    .header-sub-title {
      font-size: 1rem;
      font-weight: 300;
      margin-left: 8px;
    }
  }

  @media (min-width: 768px) {
    .login-logo {
      max-width: 4.5rem;
    }

    .login-title {
      font-size: 4.5rem;
    }
  }
}
